@media only screen and (max-width: 768px) {
  #input-search {
    grid-area: input-search;
  }

  #filters {
    grid-area: filters;
  }

  #filters-panel {
    display: grid !important;
    grid-template-areas:
      "filters filters"
      "input-search input-search" !important;
  }
}

@media only screen and (max-width: 500px) {
  #filters-panel {
    display: none !important;
  }

  #navigation ul {
    gap: 5px;
  }

  #navigation ul li {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #input-search {
    grid-area: input-search;
  }

  #filters {
    grid-area: filters;
  }

  #profile-picture img {
    width: 220px;
    height: 220px;
  }

  #repository {
    padding: 12px;
  }

  #repository p {
    font-size: 12px;
  }

  #filters-panel-mobile {
    margin-top: 15px;
    display: block !important;
  }

  #dropdown {
    height: 50px !important;
  }

  #profile > div {
    gap: 12px;
  }

  #profile-information-web {
    display: none;
  }

  #profile-information-mobile {
    display: block !important;
  }
}
