@import "tailwindcss";
@import "primereact/resources/themes/lara-light-cyan/theme.css"
  layer(primereact);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

#dropdown {
  background: linear-gradient(to right, #0056a6 0%, #0587ff 100%);
  border: none;
  border-radius: 100%;
}

.p-multiselect .p-multiselect-label.p-placeholder {
  color: #fff !important;
}

.p-multiselect-trigger {
  color: #fff;
}
